header{
    position:sticky;
    top: 0px;
}
body{
    background-color: #96aced;
}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.5 px solid rgb(125, 125, 241);
    background-color: #496cf7;
}
.right{
    display: flex;
    
}
.right ul{
    display: flex;
    gap: 23px;
  
}
.right ul li{
    list-style: none;
    display: flex;
    justify-content: center;
text-transform: capitalize;

}
.heading{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 50px 45px;
}
.heading div:first-child{
    font-size: 30px;
}
.heading .para1{
    margin: 10px;
}
.card-container{
    display: flex;
    justify-content: center;
}

 .card{
   
    border-radius: 15px;
    width: 310px;
    height: 450px;
   text-transform: capitalize;
    background-color: #faf4f4;
    margin: 45px;

 }
 .card-pic{
    padding: 5px;
 }
 .card-pic img {
  
    border-radius: 15px;

 }
 .card .card-heading{
    margin: 15px 15px;
 }
.para{
    margin: 15px 15px;
}
.card button{
    margin: 2px 2px 2px 200px;
    border: double;
    background-color: #1b6456;
    color: #faf4f4;
}
.btn:hover{
    background-color: #8db8a2;
}
.container{
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 34px;
    justify-content: center;
    margin: 40px;
}
.box{
 
    display: flex;
    flex-direction: column;
    background-color: #efebeb;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 23px;
}
.box .heading {
    font-size: 32px;
   
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Segoe UI',sans-serif;
    margin: 50px 20px 20px 20px;

}
.green{
    border: 1px;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    background-color: rgb(17, 250, 17);
    margin:  20px 20px 10px 20px;
    color:#faf4f4;
    text-transform: uppercase;
    font-weight: bold;
}
.blue{
    border: 1px;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    background-color: rgb(30, 144, 245);
 
    color:#faf4f4;
    text-transform: uppercase;
    font-weight: bold;
padding: 14px 16px;
}

@media screen and (max-width: 1145px) {
    .container{ 
        grid-template-columns: 1fr; 
    }}