
       
.logo img{
    width: 164px;
}
nav{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI';
}
.right ul {
    display: flex;
    gap:34px;
}
.right ul li{
    list-style: none;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}



.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family:sans-serif;
}
.flex{
    display: flex;
}


.first span{
    font-size: 40px;
  

}
 .first p{
   
    font-size: 23px;
    text-align: center;
    width: 44vw;
 
 }
 .btn {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}
.second { 
    max-width: 50vw;
    margin: auto; 
}

.download :nth-child(2){
    font-size: 23px;
}

.download img{
    padding: 0px 12px;
}
.download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}
 .second {
    display: flex;
    flex-direction: column;
  align-items: center;
 

}
 small{
    font-size: 12px;
 }
 .btn a{
    text-decoration: none;
    color: white;
}
.green {
    background-color: #5cb85c;
}
.item {
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap:12px
}
@media screen and (max-width: 1145px) {
    .grid{ 
        grid-template-columns: 1fr; 
    }}